.head {
  /* background-image: url(https://wallpaperaccess.com/full/1567665.png); */
  background-color: rgb(131, 131, 131);
}
.heading {
  margin: 0;
  padding: 0;
  color: antiquewhite;
}
.h3 {
  color: antiquewhite;
}
