.navImg {
  width: 80px;
  height: 80px;
}
.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(59, 59, 245);
}
.navLeft {
  display: flex;
  align-items: center;
}
.navRight {
  display: flex;
  gap: 20px;
}
.cartCounter {
  margin-right: 20px;
}
.logoName {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: beige;
  font-weight: 1000;
  font-size: larger;
}
.navTop {
  text-decoration: none;
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.navTop:hover {
  border-radius: 20%;
  border-bottom: 2px solid rgb(255, 255, 255);
  transition: 1s;
}
.h2 {
  position: relative;
  font-size: 2em;
  letter-spacing: 15px;
  color: #0e3742;
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0008);

  line-height: 0.7em;
  outline: none;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90%,
  92% {
    color: #0e3742;
    box-shadow: none;
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  100% {
    color: #fff;
    box-shadow: 0 0 10px #03bcf4, 0 0 20px #03bcf4, 0 0 40px #03bcf4,
      0 0 80px #03bcf4, 0 0 160px #03bcf4;
  }
}
